.about {
	min-width: 300px;
	width: 300px;
	padding: 0 20px 20px 20px;
	background: rgb(56,214,250);
	background: linear-gradient(180deg, rgba(136, 231, 252,1) 0%, rgb(16, 149, 191) 100%);
	overflow-y: scroll;
	overflow-x: auto;

	a {
		pointer-events: auto;
	}

	&-title {
		font-size: 16px;
	}

	&-list {
		margin-bottom: 10px;
		font-size: 14px;

		button {
			pointer-events: auto;
		}
	}

	&-item {
		padding-bottom: 5px;

		&.hidden {
			display: none;
		}
		
		&_additional {
			padding-left: 10px;
		}
	}

	&-status {
		font-size: 24px;

		h4 {
			text-align: center;
			margin: 10px 0;
		}

		li {
			cursor: pointer;
			pointer-events: auto;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&-saves {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}

	&-save {
		width: 25%;
		height: 50px;
		background-color: rgb(255, 241, 208);
		border: 1px solid rgb(240, 200, 8);
	}
}